doctype html
html
  head
    link(rel='stylesheet', href='/main.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
  body
    .purple-background
      .word-jumble-title
        h1 Welcome to Word Jumble!
        h2 Unscramble as many words as you can in one minute
      .letters
      .footer
        .countdown
          .time-header Seconds Left:
          .time-value   39
        .points
          .point-header Points:
          .point-value   12

