body
  margin 15px
  font-family Lato
  color #4F4E4E

.header
  .red-background
    background #B54757
    text-align center
    padding 10px
    h1
      color white
      font-weight 100
      margin 0
.main-page
  .left-column
    float left
    width 35%
    border-right 2px solid #4F4E4E
    margin-top 10px
    margin-left 15px
    .find-me
      h2
        display inline-block
      .line
        width calc(100% - 115px)
        height 1px
        background black
        display inline-block
        vertical-align middle
        margin-left 10px
      .find-me-info
        .find-me-row
          p
            display inline-block
            vertical-align middle
          img
            height 35px
            display inline-block
            vertical-align middle
            margin-right 20px
            margin-left 20px
            &.email
              height 26px
  .right-column
    float left
    margin-left 15px
    margin-top 10px
.footer
  background #B54757
