body
  margin 0px
  font-family Lato
  color white

  .purple-background

    background #4A0093
    width 100%
    height 100vh
    text-align center
    .purple-box
      position absolute
      top calc(50% - 100px)
      left calc(50% - 175px)
      background #E3D7EE
      color #4a0093
      padding 20px
      border-radius 5px
      width 310px
      height 160px
      .button
        font-size 15px
        background #b292d1
        padding-bottom 1px
        padding-top 1px
        width 200px
        margin 0 auto
        border-radius 5px
    .word-jumble-title
      margin-top 0px
      color #b292d1
      h1
        font-weight 600
        margin 0
        font-size 75px
        padding-top 15px
      h2
        font-weight 100
    .letters
      padding-top 40px
      .letter
        font-size 60px
        padding-top 5px
      .circle-frame
        display inline-block
        height 100px
        width 100px
        margin 20px
        border-radius 100px
        text-align center
        border 4px solid white
        &.typed
          background white
          color #4a0093
        &.red
          background #d45b5b
        &.green
          background #6ed9aa;
    .footer
        .time-header
          display inline-block
          vertical-align top
          margin-right 4px
        .time-value
          display inline-block
          vertical-align top
        .point-header
          display inline-block
          vertical-align top
          margin-right 4px
        .point-value
          display inline-block
          vertical-align top






