body {
  margin: 0px;
  font-family: Lato;
  color: #fff;
}
body .purple-background {
  background: #4a0093;
  width: 100%;
  height: 100vh;
  text-align: center;
}
body .purple-background .word-jumble-title {
  margin-top: 0px;
  color: #fff;
}
body .purple-background .word-jumble-title h1 {
  font-weight: 200;
  margin: 0;
}
body .purple-background .word-jumble-title h2 {
  font-weight: 100;
}
body .purple-background .letters .letter {
  font-size: 60px;
}
body .purple-background .letters .circle-frame {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 100px;
  text-align: center;
  border: 4px solid #f5f5f5;
}
body .purple-background .footer .time-header {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}
body .purple-background .footer .time-value {
  display: inline-block;
  vertical-align: top;
}
body .purple-background .footer .point-header {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}
body .purple-background .footer .point-value {
  display: inline-block;
  vertical-align: top;
}
